/*
File: master.css
Created On: 02/12/09
Created By: eculver
Details: Main layout styles for B3BReview

Colors: 
	Green:	#4cb153
	Blue:	#00b0f0
	Gray: 	#d2d4d6
	Black:	#353434
	Cream:	#f5f9f3
*/

* { padding:0; margin:0; }

body {
	background-color: #f5f9f3; /* cream */
	color: #353434; /* black */
	font: 14px Arial, Verdana, sans-serif;
} 

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }

h1, h2, h3, h4, h5, h6 { margin: 4px 0; }

.tcenter { text-align: center; }
.tleft { text-align: left; }
.tright { text-align: right; }
.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }

#wrap {
	width: 800px;
	margin: 0 auto;
	background-color: #f5f9f3; /* cream */
}

#header {
	width: 100%;
	height: 78px;
	background: transparent url(../images/header_bg.jpg) repeat-x center center;
	border-bottom: 5px solid #353434;
}

#header-title {
	float: left;
	padding: 26px 0 0 20px;
}

#header-title img {
	border: none;
}

#header-social-links {
	float: right;
	padding: 21px 20px 0 0;
}

#header-social-links img {
	padding-left: 5px;
	border: none;
}

#nav {
	padding-bottom: 10px;
	border-bottom: 3px dotted #4cb153;
}

.nav-item,
.nav-item-active {
	display: inline;
	float: left;
	width: 130px;
	padding: 5px;
	margin: 0 5px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.nav-item {
	color: #353434;
	background-color: #d2d4d6;
}

.nav-item a {
	color: #353434;
	text-decoration: none;
}

.nav-item:hover a {
	color: #fff;	
}

.nav-item:hover,
.nav-item-active {
	color: #fff;
	background-color: #353434;
}

.nav-arrow {
	position: relative;
	top: 29px;
	width: 145px;
	height: 22px;
	background: transparent url(../images/head_arrow.gif) no-repeat center center;
}

#nav-arrow-1 {
	left: 2px;
}

#nav-arrow-2 {
	left: 153px;
}

#search-form {
	display: inline;
	float: right;
	border-right: 5px solid #353434;
	border-bottom: 5px solid #353434;
	border-left: 5px solid #353434;
}

#search-form input {
	padding: 2px 0 2px 5px;
	font-size: 16px;
	color: #4cb153;
	border: 1px solid #4cb153;
}

#body {
	width: 100%;
	height: 400px;
	padding: 10px 5px 5px 5px;
}

#footer {
	width: 100%;
	padding: 5px;
	color: #fff;
	font-size: 16px;
	background-color: #353434;
}

#footer-copyright {
	font-weight: bold;
}

.footer-link {
	padding-left: 10px;
	font-style: italic;
}

.footer-link a,
.footer-link a:active,
.footer-link a:visited {
	color: #fff;
	text-decoration: none; 
}

.footer-link a:hover {
	text-decoration: underline;	
}
